body {
    text-align: center;
    font-family: "Comfortaa";
}

input[type="file"] {
    border: 1px solid #dfb46e;
    border-radius: 5px;
    padding: 5px 15px;
    background: #dfb46e;
    margin: auto;
    text-align: center;
}

input[type="file"]:hover {
    background: #2a2722;
    color: #ffffff
}
input[type="file"]:active {
    background: #9fa1a0;
}
input[type="file"]:invalid+span {
    color: #d5412f;
}
input[type="file"]:valid+span {
    color: #54ef9d;
}

input[type="text"] {
    border: 2px solid black;
    background-color: #dfb46e;
    margin: 10px;
    text-align: center;
}

textarea {
    border: 2px solid black;
    background-color: #dfb46e;
    margin: 10px;
    text-align: center;
}

button {
    padding: 12px 32px;
    background-color: #dfb46e;
}

.center {
    display: flex;
    justify-content: center;
}

.recorder-container {
    width: 25vw;
    margin: auto;
}

.runbutton {
    margin: auto;
    margin-top: 20px;
}

.runbutton:active {
    background-color: #2a2722;
    color: #ffffff;
}